<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 id="headingone">Login</h1>
<form id="formgroup" action="/" method="post">

	<label>Username</label>
	<input type="text" name="username"><br><br>
	<label>Password</label>
	<input type="text" name="Password"><br><br>
	<label>Password Confirm</label>
	<input type="text" name="passwordConf"><br><br>
	<input type="button" name="Submit" value="Submit">
</form>
</body>
</html>