<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<h1>Login</h1>
<form method="POST" action="/users/login">

	<label>Name</label>
	<input type="text" name="username"><br><br>
	<label>Password</label>
	<input type="text" name="password"><br><br>
	<input type="submit" name="Submit" value="Submit">

</form>

	<p>
	<a href="/">back
</p>

</body>
</html>