<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<h1>Welcome</h1>
<ul>
	<li><a href="./users/register">Register</li>
	<li><a href="./users/login"> LogIn</li>
</ul>
</body>
</html>