<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<ul>
		<li><a href="/users/logout"> Logout</li>
	</ul>


	<h1>Welcome to your profile <%= user.username %>   </h1>


</body>
</html>