<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 id="headingone">Register</h1>
<form method="post" action="users/register" >

	<label>Username</label>
	<input type="text" name="username"><br><br>
	<label>Password</label>
	<input type="text" name="password"><br><br>
	<label>Password Confirm</label>
	<input type="text" name="passwordConf"><br><br>
	<input type="button" name="Submit" value="Submit">
</form>
</body>
</html>