<html>
<head>
	<title>Success</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	


	<h1>Congratulation. You are successfully registered.  </h1>

	<p><a href="/users/login">Login</p>


</body>
</html>